/* Write your CSS here */
.close {
  color: black;
  font-size: 20px;
}
.close-button {
  background-color: transparent;
  outline: none;
  border: none;
  align-self: flex-end;
}
.popup-heading {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  margin-bottom: 3px;
  margin-top: 0px;
  padding-top: 0px;
}
.popCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}
.payment-options-list {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 0px;
}
.mode-item {
  margin-bottom: 2px;
}
.payment-label {
  font-size: 16px;
  font-family: 'Roboto';
  margin-left: 2px;
}
.order-placed {
  font-size: 16px;
  font-family: 'Roboto';
  margin-left: 2px;
  font-weight: 400;
}
.checkout-cont {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}
.cart_amount_title {
  color: #616e7c;
  font-size: 20px;
}
.cart_amount {
  color: #171f46;
  font-size: 20px;
}
.amount-cont {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.total-count {
  color: #616e7c;
  font-size: 18px;
  margin-top: 0px;
  padding-top: 0px;
}
.checkout-butn {
  border: none;
  background-color: #0b69ff;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  height: 35px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .amount-cont {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    align-self: flex-end;
  }
  .total-count {
    color: #616e7c;
    font-size: 18px;
    align-self: flex-end;
    margin-top: 0px;
    padding-top: 0px;
  }
}
